dataStructuresAndAlgorithms/.gradle
dataStructuresAndAlgorithms/.idea
dataStructuresAndAlgorithms/build
dataStructuresAndAlgorithms/gradle
sparkTutorial/target
sparkTutorial/.idea
sparkTutorial/src/main/resources/boringwords.txt
sparkTutorial/src/main/resources/input.txt
sparkTutorial/src/main/resources/input-spring.txt
sparkTutorial/src/main/resources/inputData
multithreading/target
multithreading/.idea
designPatterns/.gradle
designPatterns/.idea
designPatterns/build
designPatterns/gradle
java8Features/.gradle
java8Features/.idea
java8Features/build
java8Features/gradle
collectionFramework/.gradle
collectionFramework/.idea
collectionFramework/build
collectionFramework/gradle