dataStructuresAndAlgorithms/.gradle
dataStructuresAndAlgorithms/.idea
dataStructuresAndAlgorithms/build
dataStructuresAndAlgorithms/gradle
sparkTutorial/.gradle
sparkTutorial/.idea
sparkTutorial/build
sparkTutorial/gradle